<%= form_with model: nav do |form| %>
 
  <div class="card">
  <div class="card-body">
  <div class="col-sm-6">
    <%= form.label :title,  { class: "form-label"} %><br>
    <%= form.text_field :title, { class: "form-control"} %>
    <% nav.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<br>
  <div>
    <%= form.submit "Guardar", class: "btn btn-primary" %>
    <%= link_to 'Volver',:action => :index%>
  </div>
  </div>
  </div>
  
<% end %>